@model IEnumerable<WebApp.Models.Customers>

@{
    ViewData["Title"] = "index";
}

<h1><i class="fa-solid fa-address-card"></i> Customers</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Create New</a>
</p>
<div class="table-responsive">

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WEBSITE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CREDIT_LIMIT)
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADDRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WEBSITE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREDIT_LIMIT)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CUSTOMER_ID" class="btn btn-warning"><i class="fa-solid fa-pen"></i></a>
                    <a asp-action="Details" asp-route-id="@item.CUSTOMER_ID" class="btn btn-info"><i class="fa-solid fa-circle-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CUSTOMER_ID" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
